* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* time to style the body of the webpage with a CSS rule. 
*/
/*
  1. put the body in the container 
  2. choose what dimensions you would like the page to be 
  3. choose the color of the background 
  4.choose the 

  */

body {
  font-family: "Helvetica", sans-serif;
  background-color: #f6f6eb;
  color: #222;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
/*  Nav bar */

/*  1.  postion the nav bar in a horizontal postion
    2. postion the logo to the left and the links to the righ t
    3. change the font to desired size


    */

nav {
  margin: 5px 0;
}
.nav__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav-items {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  width: 90px;
}

ul {
  list-style-type: none;
}

.backImg {
  height: 50%;
  width: 100%;
}
